<!DOCTYPE html>
<html>
  <head>
    <title>teste</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Testando</h1><br>
      <%= items%>
    <h2>teste</h2>
  </body>
</html>
