body {
    font-family: Arial; 
    font-size: 20;
    font-weight: bold;
    font-style: italic;

    text-transform: uppercase; /*all letters up*/

    line-height: 20px; /* spaces between lines*/

    

}