<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<!-- Para testar essa pagina: localhost:3000/contatocomview?nome=Kris&idade=35 -->
<body>
    Olá <%= nomeUsuario%>! Você tem <%= idadeUsuario %> anos
</body>
</html>