<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- a rota /contatoconfirmar recebe os dados e trata de acorod com o espesificado em IndexController no metodo contatoConfirmar -->
    <form action="/contatoconfirmar" method="GET">
        <input type="text" name="nome" placeholder="nome">
        <br>
        <input type="text" name="idade" placeholder="idade">
        <br>
        <input type="text" name="altura" placeholder="altura">
        <br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>