body {
    font-family: 'Arial';
}


header{
    border: 2px solid gray;
    padding: 20px;
    margin-bottom: 5px;
}

section {
    border-top: 1px dotted gray;
    border-bottom: 1px dotted gray;
}

main {
    border: 2px solid gray;
    padding: 20px;
    margin-bottom: 5px;
}

footer {
    border: 2px solid gray;
    padding: 20px;
}


h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


span {
    color: white;
    background-color: purple;
}


section.noticias {
    overflow: hidden;
}


article {
    float: left;
    width: 30%;
    background-color: orange;
    margin-bottom: 20px;
    padding: 10px;
}

/*a linha abaixo informa que essas regras se aplicam somente dispositivos até a largura de 1301px */
@media (max-width: 1301px)  {
    article {
        width: 100%;
    }
}