
* {
    box-sizing: border-box;
}

body {
    font-family: arial;
    margin: 0;
    padding:0;
}

header {
    text-align: center;
    width: 100%;
    /* height: 100vh; ocupar 100% da área visivel*/
    border: 2px solid gray;
    padding: 10px;
    background-color: #fff;
    position: fixed;
    z-index: 10;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    padding: 20px;
}

a {
    text-decoration: none;
}

main {
    background-color: #f2f2f2;
    width: 100%;
    position: relative;
    padding: 100px 0 30px;
}

footer {
    text-align: center;
    width: 100%;
    border: 2px solid gray;
    padding: 20px;
}

img {
    /* top: 0;     */
}

img.chat {
    width: 80px;
    position: fixed;
    right: 0;
    bottom: 0;
}

img.banner {
    margin: 0;
    text-align: center;
    display: block;
    /* width: 2000px; */
    width: 100vh; /*  usando unidade de medida vw ele ocupa a largura da janela facilitando a responsividade */
    max-width: 100%; /* permite que o atributo width respeite o tamanho da pagina */
}

p {
    width: 900px;
    max-width: 100%;
    margin: 0;
    padding: 10px 0;
    text-align: justify;
}